/* App.css */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Cairo');
/* App.css */

.App {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: 'Helvetica, Arial, sans-serif'; 
    margin: 0; 
    padding: 0; 
    justify-content: center; 
    background: radial-gradient(ellipse at bottom, #000000 0%, #0c0d13 100%);
    background-image: url('./images/pixelcut-export\ \(1\).jpeg'); 
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.heading {
font-family: "Cairo";
  text-align: center;
  color: #FFF;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30vh;
  letter-spacing: 1px;
  line-height:1;
  background-image: url(https://media.giphy.com/media/l4FGnZ5NlHuvHfthm/giphy.gif?cid=790b7611xlodjiwnx79ybzps81fm3ox6emot65r7rizmiz70&ep=v1_gifs_search&rid=giphy.gif&ct=g);
  background-size: cover;
  color: transparent;
  -moz-background-clip: text;
  -webkit-background-clip: text;
  text-transform: uppercase;
  font-size: 50px;
}


.container {
    background: white; 
    border-radius: 15px; 
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.2); 
    padding: 30px;
    width: 100%; 
    max-width:750px; 
    position: relative;
    z-index: 2;
    display: flex; 
    justify-content: flex-start; 
    align-items: center; 
    flex-wrap: wrap; 
    gap: 10px;
    margin-bottom: 20px;
}

.input-container {
    position: relative; 
    margin: 0; 
  }
  
  .dollar-icon {
    position: absolute; 
    left: 10px; 
    top: 55%;
    transform: translateY(-50%);
    font-size: 17px; 
    color: #000000; 
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  input {
    width: 220px; 
    height: 50px; 
    padding-left: 20px;
    padding-top: 10px;
    border: 1px solid #ccc;
    border-radius: 5px; 
    font-size: 15px; 
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1); 
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
  }
  
  .input-label {
    position: absolute;
    left: 10px; 
    top: 10px;
    font-size: 12px;
    color: #999;
    pointer-events: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }

  .currency-input, .currency-input2 {
    position: relative;
    width: 100%;
    max-width: 220px; 
    margin: 0;
  }
  
  .custom-dropdown, .custom-dropdown2 {
    width: 220px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 15px;
    appearance: none;
    height: 40px;
    padding-top: 20px;
  }
  
  .custom-dropdown::before {
    content: 'From';
    position: absolute;
    top: 5px; 
    left: 10px; 
    color: #999;
    font-size: 12px;
    pointer-events: none; 
    z-index: 1;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }

  .custom-dropdown2::before{
    content: 'To';
    position: absolute;
    top: 5px; 
    left: 10px; 
    color: #999;
    font-size: 12px;
    pointer-events: none; 
    z-index: 1;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  

  .custom-dropdown .Dropdown-placeholder,
  .custom-dropdown .Dropdown-control, .custom-dropdown2 .Dropdown-placeholder, .custom-dropdown2 .Dropdown-control {
    position: relative;
  }
  .custom-dropdown .Dropdown-control, .custom-dropdown2 .Dropdown-control {
    border: none; 
    box-shadow: none; 
  }
  
 
  .custom-dropdown .Dropdown-menu, .custom-dropdown2 .Dropdown-menu {
    border: none; 
    box-shadow: none; 
  }
  .custom-dropdown .Dropdown-control:not(:empty) + .custom-dropdown::before, .custom-dropdown2 .Dropdown-control:not(:empty) + .custom-dropdown2::before {
    display: none;
  }
  
  .input-container,.currency-input,.switch,.currency-input2{
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
  }

.switch {
    cursor: pointer;
}

.result {
    box-sizing: border-box;
    width: 800px;
    padding-left: 30px;
}

.button-container {
    width: 100%; 
    display: flex; 
    justify-content: center;
    margin-top: 20px;
}

         
button {
    background-image: linear-gradient(to right, #BA8B02 0%, #614b4b  51%, #BA8B02  100%);
    margin: 10px;
    padding: 15px 45px;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;            
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    border-color: transparent;
    display: block;
}

button:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
}


@media (max-width: 768px) {
    button {
        font-size: 16px; 
        padding: 10px 25px; 
    }
}

         
.button {
    background-image: linear-gradient(to right, #BA8B02 0%, #181818  51%, #BA8B02  100%);
    margin: 10px;
    padding: 15px 45px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;            
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    display: block;
  }

  .button:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
  }
 


p {
    font-size: 30px;
}
