/* General App Styling */
.App {
    font-family: 'Arial', sans-serif;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    color: #333;
    max-width: 1800px;
}

h1, h2 {
    margin-top: 120px;
    text-align: center;
    margin-bottom: 20px;
    font-size: 70px;
    color: black;
}
.converter-caption {
    font-size: 16px;
    color: #555; 
    margin-top: 0.5rem;
    margin-bottom: 1.5rem; 
    text-align: center; 
    line-height: 1.5;
}


/* Input and Dropdown Styling */
.input-container {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
}

input {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 150px;
}

button {
    padding: 10px 20px;
    background-color: #561a79;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #d356c2;
}

.custom-dropdown {
    width: 120px;
    font-size: 14px;
}

/* Table Styling */
.table-section {
    margin-top: 30px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

table th, table td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: center;
    font-size: 14px;
    border: none; 
}

table th {
    background-color: #511e92;
    color: white;
    text-transform: uppercase;
}

table tr:nth-child(even) {
    background-color: #f2f2f2;
}

table tr:hover {
    background-color: #ddd;
}

/* Output Container */
.output-container {
    text-align: center;
    margin-top: 20px;
    font-size: 18px;
    color: #333;
    font-weight: bold;
}

.currency-name {
    display: flex;
    align-items: center;
    gap: 10px; 
}

.currency-flag {
    width: 20px;  
    height: 20px;
    border-radius: 50%; 
    object-fit: cover; 
    margin-right: 5px;
}

.dropdown-item {
    display: flex;
    align-items: center;
}

.custom-control {
    display: flex;
    align-items: center;
}

.custom-arrow {
    color: #333;
}
